body{
  margin-top:60px;
  background-color:#758ab6;
}

#headWell{
background-color:#3B5998;
 padding:2px;
  margin-left:50px;
  margin-right:50px;
}

#mainTextWell{

 background-color:#3B5998;
  padding-top:6px;
  margin-left:25%;
  margin-right:25%
}

.text{
color:white;
}

#zuckPic1{
  width:60%;
  height:60%;
}
#fbBtn{
  height:50px;
  width:50px;
}
#footerText{
color: red;
}
